package day{{printf "%02d" .Day}}

import (
	"{{.Root}}/pkg/perf"
	"{{.Root}}/pkg/puzzle"
)

// Part1 for this day.
func (d *Solver) Part1() (string, error) {
	defer perf.Duration(perf.Track("Part1"))

	return "", puzzle.NotImplemented{}
}

// Part2 for this day.
func (d *Solver) Part2() (string, error) {
	defer perf.Duration(perf.Track("Part2"))

	return "", puzzle.NotImplemented{}
}
